.add-sign {
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, 50%);
  opacity: 0;
  z-index: 10;
  transition: opacity 0.2s ease;
  pointer-events: auto;
}

.add-sign.active {
  opacity: 1;
}

.default-text {
color:rgba(152, 152, 152, 0.5);
}

.cdk-drag-preview { pointer-events: none; }
.canvas-item { position: relative; }
