<div
  class="main external"
  [ngClass]="dragDropSvc.dropIndicator(nodeSignal)"
  [class.active]="editMode && (isFocused() || isHovered())"
  [style]="externalStyle()"
  (mouseover)="onElementHover($event)"
  (mouseleave)="onElementMouseLeave($event)"
  cdkDropList
  [cdkDropListData]="data.children"
  [cdkDropListSortingDisabled]="true"
  (cdkDropListDropped)="onDrop($event)"
  [attr.data-id]="data.id"
>
  @if (editMode) {
    <div class="element-name">{{ data.name }}</div>
    <div class="drag-placeholder" *cdkDragPlaceholder></div>

    <!-- 🔹 Único lugar draggable -->
    <div
      class="drag-handle"
      cdkDrag
      [cdkDragData]="data.id"
      [cdkDragRootElement]="'[data-id='+data.id+']'"
      [cdkDragDisabled]="!editMode"
      (cdkDragStarted)="dragDropSvc.startCanvasDrag(data.id)"
      (cdkDragMoved)="onDragMoved($event)"
      (pointerdown)="onHandleClick()"
      (pointerup)="onMouseUp()"
    >
      ⋮⋮
    </div>
  }

  <!-- Conteúdo interno -->
  <div id="core" class="container-flex" [style]="internalStyle()">
    @for (node of nodeSignal().data.children; track node.data.id) {
      <!-- @switch (node.data.type) {
        @case ('container') {
          <app-container class="external" [data]="node.data" [editMode]="editMode"/>
        }
        @case ('header') {
          <app-header class="external canvas-item" [data]="node.data" [editMode]="editMode"/>
        }
        @case ('paragraph') {
          <app-paragraph class="external canvas-item" [data]="node.data" [editMode]="editMode"/>
        }
        @case ('iframe') {
          <app-iframe class="external canvas-item" [data]="node.data" [editMode]="editMode"/>
        }
        @case ('image') {
          <app-image class="external canvas-item" [data]="node.data" [editMode]="editMode"/>
        }
        @case ('code') {
          <app-code class="external canvas-item" [data]="node.data" [editMode]="editMode"/>
        }
      } -->
        @switch (node.data.type) {

  @case ('container') {
    <!-- container já é drop target; ainda assim damos um wrapper neutro com data-id -->
    <div class="canvas-item" [attr.data-id]="node.data.id">
      <app-container class="external" [data]="node.data" [editMode]="editMode"></app-container>
    </div>
  }

  @case ('header') {
    <div class="canvas-item" [attr.data-id]="node.data.id">
      <app-header class="external" [data]="node.data" [editMode]="editMode"></app-header>
    </div>
  }

  @case ('paragraph') {
    <div class="canvas-item" [attr.data-id]="node.data.id">
      <app-paragraph class="external" [data]="node.data" [editMode]="editMode"></app-paragraph>
    </div>
  }

  @case ('iframe') {
    <!-- wrapper com data-id garante clique; o componente pode ter click-catcher internamente -->
    <div class="canvas-item" [attr.data-id]="node.data.id">
      <app-iframe class="external" [data]="node.data" [editMode]="editMode"></app-iframe>
    </div>
  }

  @case ('image') {
    <div class="canvas-item" [attr.data-id]="node.data.id">
      <app-image class="external" [data]="node.data" [editMode]="editMode"></app-image>
    </div>
  }

  @case ('code') {
    <div class="canvas-item" [attr.data-id]="node.data.id">
      <app-code class="external" [data]="node.data" [editMode]="editMode"></app-code>
    </div>
  }
}
    }

    @if (editMode && nodeSignal().data.children.length === 0) {
      <p class="default-text">This Container is Empty</p>
    }
  </div>

  @if (editMode) {
    <div class="align-center add-sign" [class.active]="isFocused() || isHovered()">
      <app-menu
        [trigger]="'+'"
        [data]="initialData"
        [isRootNode]="true"
        matTooltip="Add"
        (click)="forceSelection()"
      />
    </div>
  }
</div>
