<div [class]="'main external' + dropIndicatorStyle()" [class.active]="editMode && (isFocused() || isHovered())" [style]="externalStyle()"
  (mouseover)="onElementHover($event)" (mouseleave)="onElementMouseLeave($event)" cdkDropList
  (cdkDropListDropped)="onDrop($event)" [cdkDropListData]="data.children" [class.border]="editMode" cdkDrag
  [cdkDragDisabled]="!editMode" [attr.data-id]="data.id" (cdkDragMoved)="onDragMoved($event)"
  (cdkDropListSortingDisabled)="(true)">
  @if(editMode){
  <div class="drag-placeholder" *cdkDragPlaceholder></div>
  <div cdkDragHandle class="drag-handle" (pointerdown)="onHandleClick()" (pointerup)="onMouseUp()">
    ⋮⋮
  </div>
  }
  <div id="core" [class]="'container-flex'" [style]="internalStyle()" [attr.data-id]="data.id" >
    <!-- [class]="'container-border container-flex ' + direction()" -->
    <!-- <ng-template #containerDiv [class]="'container-border'"></ng-template> -->
    @for (node of nodeSignal().data.children; track node.data.id) { @switch
    (node.data.type) { @case ('container') {
    <app-container class="external" [data]="node.data" [editMode]="editMode" [attr.data-id]="data.id" />
    } @case ('header') {
    <app-header class="external" [data]="node.data" [editMode]="editMode" [attr.data-id]="data.id" />
    } @case ('paragraph') {
    <app-paragraph class="external" [data]="node.data" [editMode]="editMode" [attr.data-id]="data.id" />
    } @case ('iframe') {
    <app-iframe class="external" [data]="node.data" [editMode]="editMode" [attr.data-id]="data.id" />
    } @default { } } } @if (editMode && nodeSignal().data.children.length ===
    0){
    <p class="default-text">This Container is Empty</p>
    }
  </div>

  @if(editMode){

  <div class="align-center add-sign" [class.active]="isFocused() || isHovered()">
    <app-menu [trigger]="'+'" [data]="initialData" [isRootNode]="true" matTooltip="Add"
      (click)="forceSelection()"></app-menu>
  </div>
  }
</div>