<mat-card>
    <mat-list>
        <!-- <mat-divider></mat-divider> -->
        <mat-list-item>
            <h3 class="center subtitle">Border Options</h3>
        </mat-list-item>
        <div class="checkbox-wrapper">
            <input type="checkbox" id="stroke" name="stroke" [formControl]="enableStrokeCheckbox">
            <label for="stroke">Stroke / Border</label>
          </div>
        <br>
        <div *ngIf="enableStrokeCheckbox.value">
            <div>
                <form [formGroup]="strokeOptions">
                    <label for="strokeClor">Color:</label>
                    <div style="display: flex; align-items: center; gap: 8px; margin-bottom: 12px;">
                        <input type="color" id="strokeColor" name="strokeColor" formControlName="strokeColor">
    
                        <input type="number" id="colorOpacity" name="colorOpacity" formControlName="colorOpacity" min="0"
                            max="100" />
                        <span>%</span>
                    </div>

                    <label for="strokeStyle">Style:</label>
                    <select name="strokeStyle" id="strokeStyle" formControlName="strokeStyle">
                        <option *ngFor="let strokeStyleOption of strokeStyleOptions"
                            [ngValue]="strokeStyleOption.value">{{ strokeStyleOption.label }}</option>
                    </select>

                    <label for="strokeWidth">Width:</label>
                    <span><input type="number" id="strokeWidth" name="strokeWidth" formControlName="strokeWidth">
                        px
                    </span>
                </form>
            </div>

        </div>
    </mat-list>
</mat-card>