<div class="left-panel">
    <as-split direction="vertical" unit="percent" [gutterSize]="1">

        <as-split-area [size]="10" minSize="10" maxSize="10">
            <h2 class="align-center">Layout Builder</h2>
        </as-split-area>

        <as-split-area [size]="40" minSize="15" maxSize="40"> 
            <app-insert-panel></app-insert-panel>
        </as-split-area>

        <as-split-area [size]="50" minSize="60" >
            <app-layers-panel [data]="'canvas'"></app-layers-panel>
        </as-split-area>
    </as-split>

</div>