<mat-card>
    <mat-list>
        <!-- <mat-divider></mat-divider> -->
        <mat-list-item>
            <h3 class="subtitle">Text Options</h3>
        </mat-list-item>
        <form [formGroup]="fontOptions">
            <div *ngIf="fontOptions.contains('fontSize')">
                <label for="fontSize">Font Size:</label><br>
                <span><input type="number" id="fontSize" formControlName="fontSize">
                    px
                </span>
            </div>

            <div *ngIf="fontOptions.contains('headerSize')">
                <label for="headerSize">Header Size:</label>
                <select name="headerSize" id="headerSize" formControlName="headerSize">
                    <option *ngFor="let headerOption of headerOptions" [ngValue]="headerOption">{{ headerOption }}
                    </option>
                </select>
            </div>


            <div *ngIf="fontOptions.contains('fontWeight')">
                <label for="fontWeight">Font Weight:</label>
                <input type="range" id="fontWeight" min="100" max="900" step="100" formControlName="fontWeight">
                <span class="valorSlider">{{ fontOptions.get('fontWeight')?.value }}</span>
            </div>

            <label for="fontColor">Font Color:</label>
            <div style="display: flex; align-items: center; gap: 8px; margin-bottom: 12px;">
                <input type="color" id="fontColor" name="fontColor" formControlName="fontColor">

                <input type="number" id="colorOpacity" name="colorOpacity" formControlName="colorOpacity" min="0"
                    max="100" />
                <span>%</span>
            </div>

            <label for="hAlign">Horizontal Alignment:</label>
            <select name="hAlign" id="hAlign" formControlName="horizontalAlign">
                <option *ngFor="let hOption of hOptions" [ngValue]="hOption.value">{{ hOption.label }}</option>
            </select>
        </form>
        <br /><br />
        <mat-divider></mat-divider>
    </mat-list>
</mat-card>