<div class="main" (focusout)="hideMenu($event)">
    <p #target [contentEditable]="true" [ngClass]="'element paragraph editable-content ' + alignment()"
        (focus)="showMenu($event)" (input)="textSyncOnBlur($event)"></p>
    <br>
    <div [ngClass]="'when-focused focus-menu '" *ngIf="menuIsOn()">
        <button class="round-button" (click)="setAlignment('left')">←</button>
        <button class="round-button" (click)="setAlignment('center')">⨀</button>
        <button class="round-button" (click)="setAlignment('right')">→</button>
    </div>

    <br>
    <br>
    <br>
</div>
<!-- <pre style="text-align: left;">{{ layoutModelString() }}</pre> -->