<div [class]="'main header ' + dropIndicatorStyle()" [class.border]="editMode"
  [class.active]="editMode && (isFocused() || isHovered() && !isDragging())" [cdkDragDisabled]="!editMode"
  [attr.data-id]="data.id" cdkDrag
    (cdkDragMoved)="onDragMoved($event)"
  >
  <br>
  @if(editMode){
  <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
  <div cdkDragHandle class="drag-handle" (pointerdown)="onHandleClick()">⋮⋮</div>
  }
  <div [style]="dynamicStyle()">
    <p #target (input)="textSyncOnBlur($event)" [contentEditable]="editMode" [class.editable-content]="editMode"
      [class.element]="editMode" [class]="'element ' + dynamicHeader()"></p>
    <br>
  </div>
</div>
<!-- <pre style="text-align: left;">{{ layoutModelString() }}</pre> -->