<div class="buttons-list">
    <button mat-icon-button [matMenuTriggerFor]="handMenu" aria-label="Example icon-button with a menu">
        <!-- <mat-icon>back_hand</mat-icon> -->
        <p>move</p>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="containerMenu" aria-label="Example icon-button with a menu">
        <p>container</p>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="componentMenu" aria-label="Example icon-button with a menu"  *ngIf="selectedElementType() == 'container'">
        <p>component</p>
    </button>
</div>

<mat-menu #handMenu="matMenu">
    <button mat-menu-item>Move</button>
    <button mat-menu-item>Scale</button>
    <!-- <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
    </button> -->
</mat-menu>

<mat-menu #containerMenu="matMenu">
    <button mat-menu-item (click)="addLayoutElement('container')">Add</button>
    <button mat-menu-item (click)="removeSelectedNode()">Remove</button>
</mat-menu>

<mat-menu #componentMenu="matMenu">
    <button mat-menu-item (click)="addLayoutElement('header')">Header</button>
    <button mat-menu-item (click)="addLayoutElement('paragraph')">Paragraph</button>
    <button mat-menu-item (click)="addLayoutElement('container')">Container</button>
</mat-menu>