<mat-card>
    <mat-list>
        <mat-divider></mat-divider>
        <mat-list-item>
            <h3 class="center">Dimension Options</h3>
        </mat-list-item>

        <div>
            <form [formGroup]="dimensionOptions">
                <label for="height">Height:</label><br>
                <div>
                    <span>
                        <label for="heightAuto">Auto</label>
                        <input type="checkbox" id="heightAuto" name="heightAuto" formControlName="heightAuto">
                    </span>
                </div>
                <div *ngIf="!dimensionOptions.controls.heightAuto.value">
                    <input type="number" id="height" name="height" min="0" formControlName="height" style="width: 50%">
                    <span>
                        <select name="hUnit" id="hUnit" formControlName="hUnit" style="width: 50px;">
                            <option *ngFor="let unitOption of unitOptions" [ngValue]="unitOption">{{ unitOption }}
                            </option>
                        </select>
                    </span>
                </div>

                <label for="width">Width:</label><br>
                <div>
                    <span>
                        <label for="widthAuto">Auto</label>
                        <input type="checkbox" id="widthAuto" name="widthAuto" formControlName="widthAuto">
                    </span>
                </div>
                <div *ngIf="!dimensionOptions.controls.widthAuto.value">
                    <input type="number" id="width" name="width" min="0" formControlName="width" style="width: 50%">
                    <span>
                        <select name="wUnit" id="wUnit" formControlName="wUnit" style="width: 50px;">
                            <option *ngFor="let unitOption of unitOptions" [ngValue]="unitOption">{{ unitOption }}
                            </option>
                        </select>
                    </span>
                </div>
            </form>
        </div>
        <br>
        <div>
            <mat-accordion class="example-headers-align" multi>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Maximum</mat-panel-title>
                    </mat-expansion-panel-header>
                    <form [formGroup]="maxDimensionOptions">
                        <label for="maxHeight">Max Height:</label><br>
                        <div>
                            <input type="number" id="maxHeight" name="maxHeight" min="0" formControlName="maxHeight"
                                style="width: 50%">
                            <span>
                                <select name="maxHUnit" id="maxHUnit" formControlName="maxHUnit" style="width: 50px;">
                                    <option *ngFor="let unitOption of unitOptions" [ngValue]="unitOption">{{ unitOption
                                        }}
                                    </option>
                                </select>
                            </span>
                        </div>

                        <label for="width">Max Width:</label><br>
                        <div>
                            <input type="number" id="maxWidth" name="maxWidth" min="0" formControlName="maxWidth"
                                style="width: 50%">
                            <span>
                                <select name="maxWUnit" id="maxWUnit" formControlName="maxWUnit" style="width: 50px;">
                                    <option *ngFor="let unitOption of unitOptions" [ngValue]="unitOption">{{ unitOption
                                        }}
                                    </option>
                                </select>
                            </span>
                        </div>
                    </form>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <br>
        <div>
            <mat-accordion class="example-headers-align" multi>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Minimum</mat-panel-title>
                    </mat-expansion-panel-header>
                    <form [formGroup]="minDimensionOptions">
                        <label for="minHeight">Min Height:</label><br>
                        <div>
                            <input type="number" id="minHeight" name="minHeight" min="0" formControlName="minHeight"
                                style="width: 50%">
                            <span>
                                <select name="minHUnit" id="minHUnit" formControlName="minHUnit" style="width: 50px;">
                                    <option *ngFor="let unitOption of unitOptions" [ngValue]="unitOption">{{ unitOption
                                        }}
                                    </option>
                                </select>
                            </span>
                        </div>

                        <label for="width">Min Width:</label><br>
                        <div>
                            <input type="number" id="minWidth" name="minWidth" min="0" formControlName="minWidth"
                                style="width: 50%">
                            <span>
                                <select name="minWUnit" id="minWUnit" formControlName="minWUnit" style="width: 50px;">
                                    <option *ngFor="let unitOption of unitOptions" [ngValue]="unitOption">{{ unitOption
                                        }}
                                    </option>
                                </select>
                            </span>
                        </div>
                    </form>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

    </mat-list>
</mat-card>