<mat-card>
    <mat-list>
        <mat-list-item>
            <h3 class="center subtitle">Background Options</h3>
        </mat-list-item>

        <form [formGroup]="backgroundOptions">
            <label for="bgColor">Background Color:</label>
            <div style="display: flex; align-items: center; gap: 8px; margin-bottom: 12px;">
                <input type="color" id="bgColor" name="bgColor" formControlName="bgColor" />

                <input type="number" id="colorOpacity" name="colorOpacity" formControlName="colorOpacity" min="0"
                    max="100" />
                <span>%</span>
            </div>

            <label for="bgOpacity">Background Opacity:</label>
            <span><input type="number" id="bgOpacity" name="bgOpacity" min="0" max="100" formControlName="bgOpacity">
                %
            </span>

            <div *ngIf="backgroundOptions.contains('flexDirection')">
                <label for="flexDirection">Direction:</label>
                <select name="flexDirection" id="flexDirection" formControlName="flexDirection">
                    <option *ngFor="let flexDirection of flexDirections" [ngValue]="flexDirection.value">{{
                        flexDirection.label }}</option>
                </select>
            </div>
        </form>

    </mat-list>
</mat-card>