<mat-card>
    <mat-list>
        <mat-list-item>
            <h3 class="center subtitle">Background Options</h3>
        </mat-list-item>

        <form [formGroup]="backgroundOptions">
            <div *ngIf="backgroundOptions.contains('bgColor')">
                <label for="bgColor">Background Color:</label>
                <div style="display: flex; align-items: center; gap: 8px; margin-bottom: 12px;">
                    <input type="color" id="bgColor" name="bgColor" formControlName="bgColor" />

                    <input type="number" id="colorOpacity" name="colorOpacity" formControlName="colorOpacity" min="0"
                        max="100" />
                    <span>%</span>
                </div>
            </div>

            <label for="bgOpacity">Opacity:</label>
            <span><input type="number" id="bgOpacity" name="bgOpacity" min="0" max="100" formControlName="bgOpacity">
                %
            </span>

            <div *ngIf="backgroundOptions.contains('flexDirection')">
                <label for="flexDirection">Direction:</label>
                <select name="flexDirection" id="flexDirection" formControlName="flexDirection">
                    <option *ngFor="let flexDirection of flexDirections" [ngValue]="flexDirection.value">{{
                        flexDirection.label }}</option>
                </select>
            </div>

            <div *ngIf="backgroundOptions.contains('urlImage')">
                <label for="urlImage">Background Image (link):</label>
                <input type="text" id="urlImage" name="urlImage" formControlName="urlImage" class="custom-input" />
            </div>

            <div *ngIf="backgroundOptions.contains('BgRepeat')">
                <label for="BgRepeat">Background Repeat:</label>
                <select name="BgRepeat" id="BgRepeat" formControlName="BgRepeat">
                    <option *ngFor="let BgRepeat of BgRepeats" [ngValue]="BgRepeat.value">{{
                        BgRepeat.label }}</option>
                </select>
            </div>

            <div *ngIf="backgroundOptions.contains('BgSize')">
                <label for="BgSize">Background Size:</label>
                <select name="BgSize" id="BgSize" formControlName="BgSize">
                    <option *ngFor="let BgSize of BgSizes" [ngValue]="BgSize.value">{{
                        BgSize.label }}</option>
                </select>
            </div>

            <div *ngIf="backgroundOptions.contains('objFit')">
                <label for="objFit">Object Fit:</label>
                <select name="objFit" id="objFit" formControlName="objFit">
                    <option *ngFor="let objFit of objFits" [ngValue]="objFit.value">{{
                        objFit.label }}</option>
                </select>
            </div>

        </form>
        <br /><br />
        <mat-divider></mat-divider>
    </mat-list>
</mat-card>