<br>
<mat-tree [dataSource]="nodeModel()" [childrenAccessor]="childrenAccessor">
  <mat-nested-tree-node *matTreeNodeDef="let node">
    <div class="node-item">
      <button mat-icon-button (click)="toggleNode(node.data.id)" [attr.aria-label]="'toggle ' + node.data.type"
        *ngIf="node.data.children?.length > 0">
        <mat-icon>
          {{ isNodeExpanded(node.data.id) ? 'expand_more' : 'chevron_right' }}
        </mat-icon>
      </button>
      {{ node.data.type }} {{ node.data.id }}
    </div>


    <div *ngIf="isNodeExpanded(node.data.id)">

      <div *ngFor="let child of node.data.children">
        <app-layers-panel [data]="child.data.id"></app-layers-panel>
      </div>

    </div>

  </mat-nested-tree-node>
</mat-tree>