<ng-container *ngIf="!(selectedElement$ | async)">
    <app-general-options></app-general-options>
</ng-container>

<ng-container *ngIf="selectedElement$ | async as selected">
    <ng-container [ngSwitch]="selected.type">
        <!-- <app-paragraph-properties *ngSwitchCase="'paragraph'" [element]="selected"></app-paragraph-properties> -->
        <!-- <app-header-properties *ngSwitchCase="'header'" [element]="selected"></app-header-properties> -->
        <!-- <app-container-properties *ngSwitchCase="'container'" [element]="selected"></app-container-properties> -->
        <app-general-options *ngSwitchCase="'canvas'"></app-general-options>

        <div *ngSwitchCase="'header'">Header Options</div>
        <div *ngSwitchCase="'paragraph'">Paragraph Options</div>
        <div *ngSwitchDefault>No element selected!</div>
    </ng-container>
</ng-container>