<ng-container *ngIf="!(selectedElement$ | async)">
    <app-background-styles-options></app-background-styles-options>
</ng-container>

<ng-container *ngIf="selectedElement$ | async as selected">
    <ng-container [ngSwitch]="selected.type">

        <div *ngSwitchCase="'canvas'">
            <app-background-styles-options></app-background-styles-options>
        </div>

        <div *ngSwitchCase="'header'">
            <app-background-styles-options></app-background-styles-options>
            <app-text-styles-options></app-text-styles-options>
            <app-border-styles-options></app-border-styles-options>
        </div>

        <div *ngSwitchCase="'paragraph'">
            <app-background-styles-options></app-background-styles-options>
            <app-text-styles-options></app-text-styles-options>
            <app-border-styles-options></app-border-styles-options>
        </div>

        <div *ngSwitchDefault>No element selected!</div>
    </ng-container>
</ng-container>