<ng-container *ngIf="selectedNode() as selected">
    <ng-container [ngSwitch]="selected.data.type">

        <div *ngSwitchCase="'canvas'">
            <app-background-styles-options></app-background-styles-options>
            <app-corner-styles-options></app-corner-styles-options>
        </div>

        <div *ngSwitchCase="'container'">
            <app-background-styles-options></app-background-styles-options>
            <app-corner-styles-options></app-corner-styles-options>
        </div>

        <div *ngSwitchCase="'header'">
            <app-background-styles-options></app-background-styles-options>
            <app-text-styles-options></app-text-styles-options>
            <app-border-styles-options></app-border-styles-options>
            <app-corner-styles-options></app-corner-styles-options>
        </div>

        <div *ngSwitchCase="'paragraph'">
            <app-background-styles-options></app-background-styles-options>
            <app-text-styles-options></app-text-styles-options>
            <app-border-styles-options></app-border-styles-options>
            <app-corner-styles-options></app-corner-styles-options>
        </div>

        <div *ngSwitchDefault>No element selected!</div>
    </ng-container>
</ng-container>