<mat-card>
    <mat-list>
        <mat-divider></mat-divider>
        <mat-list-item>
            <h3 class="center subtitle">Padding Options</h3>
        </mat-list-item>
        <div class="checkbox-wrapper">
            <input type="checkbox" id="individualPadding" name="individualPadding"
                [formControl]="enableIndividualPaddingCheckbox">
            <label for="individualPadding">Individual Paddings</label>
        </div><br>

        <div *ngIf="!enableIndividualPaddingCheckbox.value">
            <form [formGroup]="paddingOptions">
                <label for="padding">Padding:</label>
                <div class="row-input">
                    <input type="number" id="padding" name="padding" min="0" formControlName="padding"
                        style="width: 50%">
                    <select name="unit" id="unit" formControlName="unit" style="width: 50px;">
                        <option *ngFor="let unitOption of unitOptions" [ngValue]="unitOption">{{ unitOption }}
                        </option>
                    </select>
                </div>
            </form>
        </div>


        <div *ngIf="enableIndividualPaddingCheckbox.value"
            style="display: flex; flex-direction: column; align-items: center; max-width: 400px; margin: 0 auto;">

            <form [formGroup]="paddingOptions">
                <div style="display: flex; align-items: center; gap: 0.5rem; margin-bottom: 1rem;">
                    <label for="unit" style="white-space: nowrap;">Unit:</label>
                    <select name="unit" id="unit" formControlName="unit" style="flex: 1; min-width: 50px;">
                        <option *ngFor="let unitOption of unitOptions" [ngValue]="unitOption">{{ unitOption }}</option>
                    </select>
                </div>
            </form>

            <form [formGroup]="individualPaddingOptions">
                <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 1rem; width: 100%;">
                    <div>
                        <label for="top">Top</label>
                        <input type="number" id="top" name="top" min="0" formControlName="top" style="width: 70%;">
                    </div>
                    <div>
                        <label for="right">Right</label>
                        <input type="number" id="right" name="right" min="0" formControlName="right"
                            style="width: 70%;">
                    </div>
                    <div>
                        <label for="bottom">Bottom</label>
                        <input type="number" id="bottom" name="bottom" min="0" formControlName="bottom"
                            style="width: 70%;">
                    </div>
                    <div>
                        <label for="left">Left</label>
                        <input type="number" id="left" name="left" min="0" formControlName="left" style="width: 70%;">
                    </div>
                </div>
            </form>
        </div>
    </mat-list>
</mat-card>