<div class="container">
  <as-split direction="horizontal" unit="percent" [gutterSize]="1">
    <as-split-area class="side-panel" [size]="14" minSize="10" maxSize="20">
      <app-left-panel></app-left-panel>
    </as-split-area>

    <as-split-area class="center-area" [size]="72" minSize="40">
      <div
      #viewport 
        class="viewport"
        [class.movable]="isPanning()"
        [class.dragging]="isPanning() && isMoving"
        (mousedown)="onMouseDown($event)"
        (mouseup)="onMouseUp()"
        (mouseleave)="onMouseUp()"
        (mousemove)="onMouseMove($event)"
        (click)="onClick()"
        (wheel)="onWheel($event)"
      >
        <div
          #panZoomContainer
          class="pan-zoom-container"
          [style.transform]="transformStyle()"
          [style.transform-origin]="'0 0'"
        >
          <div #canvasWrapper class="canvas-wrapper">
            <app-canvas [editMode]="true"></app-canvas>
          </div>
        </div>
      </div>
    </as-split-area>

    <as-split-area class="side-panel" [size]="14" minSize="10" maxSize="20">
      <app-right-panel></app-right-panel>
    </as-split-area>
  </as-split>
</div>
