<div class="main" [class.active]="isFocused()" (mouseover)="onElementHover($event)" (mouseleave)="onElementMouseLeave($event)" 
    cdkDropList
    (cdkDropListDropped)="onDrop()"
    [cdkDropListData]="[data]" [attr.data-id]="data.id">
    <div [class]="'container-border container-flex'" [style]="dynamicStyle()">
        <!-- [class]="'container-border container-flex ' + direction()" -->
        <!-- <ng-template #containerDiv [class]="'container-border'"></ng-template> -->
        @for (node of nodeSignal().data.children; track node.data.id) {
            @switch (node.data.type) {
                @case ('container') {
                <app-area [data]="node.data" cdkDrag (cdkDragStarted)="onDrag($event)" [attr.data-id]="data.id"/>
                }
                @case ('header') {
                <app-header [data]="node.data" cdkDrag (cdkDragStarted)="onDrag($event)" [attr.data-id]="data.id"/>
                }
                @case ('paragraph') {
                <app-paragraph [data]="node.data" cdkDrag (cdkDragStarted)="onDrag($event)" [attr.data-id]="data.id"/>
                }
                @default {
                <!-- <app-wrapper drag>
                                <ng-container [ngComponentOutlet]="AppHeader" [ngComponentOutletInputs]="node.data" />
                            </app-wrapper> -->
                }
            }
        }
        @if (nodeSignal().data.children.length === 0){
            <p class="default-text">This Container is Empty</p>
        }
        <br>
        <br>
        <br>
        <br>
        
    </div>
    <div class="align-center add-sign" [class.active]="(isFocused() || isHover())">
        <app-menu [trigger]="'+'" [data]="initialData" [isRootNode]="true" matTooltip="Add"></app-menu>
    </div>
    

    <!-- <div>
        <button class="round-button" (click)="addLayoutElement('header')">H</button>
        <button class="round-button" (click)="addLayoutElement('paragraph')">P</button>
        <button class="round-button" (click)="addLayoutElement('container')">C</button>
        <button class="round-button" (click)="deleteContainer()">del</button>
    </div> -->
</div>