<div>
    <div [class]="'container-border container-flex ' + direction()">
        <ng-template #containerDiv [class]="'container-border'" (modelChange)="onChildModelUpdate($event)"></ng-template>
    </div>
    <div>
        <!-- <button class="round-button" (click)="createLayoutFromModel(model)">Model</button> -->
        <button class="round-button" (click)="addLayoutElement('header')">H</button>
        <button class="round-button" (click)="addLayoutElement('paragraph')">P</button>
        <button class="round-button" (click)="addLayoutElement('container')">C</button>
    </div>
    <pre style="text-align: left;">{{ layoutModelString() }}</pre>
</div>