.round-button {
    border-radius: 50%;
    font-size: large;
}

.round-button:hover {
    background-color: #008CBA;
    color: white;
}

.editable-content:focus {
    outline: none;
    border: none;
    background-color: rgba(255,0,0,0.1);
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.hidden {
    display: none;
}

.in-focus {
    display: block;
}
