body, html {
    height: 100%;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }

.center {
    text-align: center;
  }

.round-button {
    border-radius: 50%;
    font-size: large;
}

.round-button:hover {
    background-color: #008CBA;
    color: white;
}

.menu-button:hover {
    color: #008CBA;
}

.container {
    height: 100vh;
  }
