<mat-tree
  class="main"
  [dataSource]="nodeModel()"
  [childrenAccessor]="childrenAccessor"
  (click)="onElementClick($event)"
  (mouseover)="onElementHover($event)"
  (mouseleave)="onElementMouseLeave($event)"
>
  <mat-nested-tree-node 
    *matTreeNodeDef="let node"
    cdkDropList
    (cdkDropListDropped)="onDrop()"
    [cdkDropListData]="[data]"
    [attr.data-id]="node.data.id"
  >
    <div
    class="node-line" 
    [class.selected]="isSelected()"
      cdkDrag
      (cdkDragStarted)="onDrag($event)"
      [attr.data-id]="node.data.id"
      [class.tree-node]="node.data.type == 'container'"
      [class.node-item]="node.data.type !== 'container' || !node.data.children.length"
    >
        <mat-icon  class="expand-icon"
        (click)="toggleNode(node.data.id)"
        [attr.aria-label]="'toggle ' + node.data.type"
        *ngIf="node.data.children?.length > 0">
          {{ isNodeExpanded(node.data.id) ? 'expand_more' : 'chevron_right' }}
        </mat-icon>
 
      {{ node.data.type }} {{ node.data.id }}
    </div>

    <div *ngIf="isNodeExpanded(node.data.id)" class="new-node">
      <div *ngFor="let child of node.data.children">
        <app-layers-tree [data]="child.data.id"></app-layers-tree>
      </div>
    </div>
  </mat-nested-tree-node>
</mat-tree>
