// .node-item {
//     width: 100%;
//     display:inline;
//     overflow: hidden;
// }

// .tree-node {
//     width: calc(100% - 2px);
//     border: solid 1px;

//     // background: red;

//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
// }

// .new-node {
//     padding-left: 20px;
//     border-left: solid 1px;
// }

// .main.active {
//     background-color: blanchedalmond;
//     outline: none;
//     transition: background-color 0.2s ease;
//   }


/* Estilo base da árvore */
mat-tree.main {
    background-color: rgba(255, 255, 255, 0);
}

/* Linha de cada nó */
.node-line {
    color: #c8c8c8;
    font-size: 13px;
    display: flex;
    align-items: center;
    padding: 6px;
    border-radius: 3px;
    // margin: 2px 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.node-line:hover {
    background-color: #383838;
}

/* Nó selecionado */
.node-line.selected {
    background-color: #9c9c9c;
    font-weight: 500;
    color: #000000;
}


/* Ícone de expandir/recolher */
.expand-icon {
    font-size: 20px;
    margin-right: 3px;
    color: #666666;
    transition: transform 0.2s ease;
}

.expand-icon:hover {
    color: #000000;
}

.new-node {
    margin-left: 20px;
    padding-left: 10px;
    border-left: 2px dashed #939393;
}