<div class="canvas" [ngStyle]="dynamicStyles$ | async" 
    (click)="onElementClick($event)">
    <div class="align-center">

        @for (node of canvasModel(); track node.data.id) {
             @switch (node.data.type) {
                @case ('container') {
                    <app-area [data]="node.data" />
                }
                @default {
                    <!-- <app-wrapper drag>
                        <ng-container [ngComponentOutlet]="AppHeader" [ngComponentOutletInputs]="node.data" />
                    </app-wrapper> -->
                }
             }
        }
        
        <ng-template #containerDiv [class]="'container-border'"></ng-template>
        <br>
        <button class="round-button" (click)="addContainer()">A</button>
        <button class="round-button" (click)="renderFromModel()">M</button>
    
    </div>

    <div style="border: 1px solid #81828555; padding:50px" (click)="onElementClick($event)">
        
    </div>

    <div class="center">
        <app-menu [trigger]="'+'" [data]="initialData" [isRootNode]="true"
            matTooltip="Insert or Edit Element"></app-menu>
        <button class="round-button" (click)="addContainer()">A</button>
    </div>

</div>

<pre>{{ canvasModelsString() }}</pre>