<div class="canvas">
    <div class="align-center">

        @for (node of canvasModel(); track node.data.id) {
             @switch (node.data.type) {
                @case ('container') {
                    <app-area [data]="node.data" />
                }
                @default {
                    <!-- <app-wrapper drag>
                        <ng-container [ngComponentOutlet]="AppHeader" [ngComponentOutletInputs]="node.data" />
                    </app-wrapper> -->
                }
             }
        }
        
        <ng-template #containerDiv [class]="'container-border'"></ng-template>
        <br>
        <button class="round-button" (click)="addContainer()">A</button>
    
    </div>
</div>

<pre>{{ canvasModelsString() }}</pre>