<div class="canvas" [ngStyle]="dynamicStyles$ | async" 

    [style.border]="dynamicBorder$ | async"

    [style.border-radius]="`${(dynamicBorderRadius$ | async)}px`"
    
    [style.border-top-left-radius]="(individualDynamicCornerRadius$ | async)?.['border-top-left-radius']"
    [style.border-top-right-radius]="(individualDynamicCornerRadius$ | async)?.['border-top-right-radius']"
    [style.border-bottom-left-radius]="(individualDynamicCornerRadius$ | async)?.['border-bottom-left-radius']"
    [style.border-bottom-right-radius]="(individualDynamicCornerRadius$ | async)?.['border-bottom-right-radius']"
  
    (click)="onElementClick($event, {  type: 'canvas' })">

    <div>
        <h1>My Canvas 😀</h1>

        <div style="background-color:rgba(255,0,0,0.2);" (click)="onElementClick($event, {type: 'header' })">
            <h2> I'm a header</h2>
        </div>
        <br>
        <div style="background-color:rgba(255,0,0,0.2);" (click)="onElementClick($event, {  type: 'paragraph' })">
            I'm a paragraph
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint
        </div>
        <br>
    </div>

    <div class="center">
        <app-menu [trigger]="'+'" [data]="initialData" [isRootNode]="true"
            matTooltip="Insert or Edit Element"></app-menu>
        <button class="round-button" (click)="addNewArea()">A</button>
    </div>

</div>